# Node dependencies & builds
**/node_modules/
**/dist/
**/build/

# Python & Virtual Environments
**/__pycache__/
*.py[cod]
**/venv/
**/.venv/

# Database & Environment Files
*.db
*.sqlite3
.env
.DS_Store